<h1>Editing usercommentrating</h1>

<%= render "form", usercommentrating: @usercommentrating %>

<br>

<div>
  <%= link_to "Show this usercommentrating", @usercommentrating %> |
  <%= link_to "Back to usercommentratings", usercommentratings_path %>
</div>
