<h1>New usercommentrating</h1>

<%= render "form", usercommentrating: @usercommentrating %>

<br>

<div>
  <%= link_to "Back to usercommentratings",comment_usercommentratings_path(@comment) %>
</div>

