<div id="<%= dom_id topic %>">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Topic</h5>
      <p>
        <strong>Field:</strong>
        <%= topic.field %>
      </p>
    </div>
  </div>


</div>
