<p style="color: green"><%= notice %></p>
<h1 class="text-center mt-4">Topics</h1>
<div class="container col-4">
  <table class="table ">
    <thead>
    <tr>
      <th scope="col" colspan="1"></th>
      <th scope="col" colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <div id="topics">
      <% @topics.each do |topic| %>
        <tr>

          <td ><%= topic.field %></td>
          <td><%= button_to "Show this topic",topic,method: "get",class:"btn btn-primary" %></td>
      <% end %>

      </tr>
    </div>

    </tbody>
  </table>
  <%= button_to "New topic", new_topic_path,method: "get",class:"btn btn-primary" %>

</div>

<%#= link_to "Posts",posts_path %>